.header {
  max-width: 880px;
  height: 74px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84,84,84,0.7);
  margin-bottom: 36px;
}

@media (max-width: 898px){
  .header{
    max-width: auto;
    width: 100%;
    padding: 0 27px;
  }
}
