.profile__edit-logo {
  background-image: url(../../../images/profile/edit-logo.svg);
  width: 10px;
  height: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 774px){
  .profile__edit-logo {
    width: 8px;
    height: 8px;
  }
}
