.element__like-button {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
